@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShopCenter.Application.Utilities
@using ShopCenter.Domain.Models.Products
@model ShopCenter.Presentation.Razor.Areas.Seller.Pages.Panel.Product.EditProductModel


@{
    ViewData["Title"] = "ویرایش " + Model.Title;
    var categories = ViewData["Categories"] as List<ProductCategory>;
    var v = "hello";
}




<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="content-header">ورودی فرم</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">ورودی متن</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" method="post" enctype="multipart/form-data" id="create_product_form">
                            <div class="form-body">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImageName" />  
                                @if (Model.ProductColors != null && Model.ProductColors.Any())
                                {
                                    var index = 0;
                                    foreach (var color in Model.ProductColors)
                                    {
                                        <input type="hidden" value="@color.ColorName" name="ProductColors[@index].ColorName" color-name-hidden-input="@color.ColorName-@color.Price">
                                        <input type="hidden" value="@color.Price" name="ProductColors[@index].Price" color-price-hidden-input="@color.ColorName-@color.Price">
                                        index += 1;
                                    }
                                }
                                <div class="row">

                                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">

                                            <input asp-for="Title" class="form-control" id="placeholderInput" placeholder="نام محصول  ">
                                        </fieldset>
                                        <span asp-validation-for="Title" class="text-danger" style="font-size: 15px"></span>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">

                                            <input asp-for="Price" class="form-control" id="placeholderInput">
                                        </fieldset>
                                        <span asp-validation-for="Price" class="text-danger" style="font-size: 15px"></span>
                                    </div>

                                    <div class="col-12">
                                        <fieldset class="form-group">
                                            <label for="descTextarea"> توضیحات کوتاه محصول</label>
                                            <textarea asp-for="ShortDescription" class="form-control" id="descTextarea" rows="3"></textarea>
                                        </fieldset>
                                        <span asp-validation-for="ShortDescription" class="text-danger" style="font-size: 15px"></span>
                                    </div>
                                    <div class="col-12">
                                        <fieldset class="form-group">
                                            <label for="descTextarea"> توضیحات بلند محصول</label>
                                            <textarea asp-for="Description" class="form-control" id="descTextarea" rows="7"></textarea>
                                        </fieldset>
                                        <span asp-validation-for="Description" class="text-danger" style="font-size: 15px"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-5">
                                                <input asp-for="IsActive" type="checkbox" class="custom-control-input" checked="" id="rememberme">
                                                <label class="custom-control-label float-left" for="rememberme">فعال / غیر فعال</label>
                                            </div>
                                            <span asp-validation-for="IsActive" class="text-danger" style="font-size: 15px"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <img src="@(SD.ProductThumbnailImage + Model.ImageName)" />
                                    </div>
                                    <div class="col-12">
                                        <fieldset class="form-group">
                                            <label for="basicInputFile">تصویر</label>
                                            <input name="image" type="file" multiple class="form-control-file" accept=".png,.jpeg" id="basicInputFile">
                                        </fieldset>
                                        <span class="text-danger" style="font-size: 15px"></span>
                                        @if (categories != null && categories.Any())
                                        {
                                            @foreach (var category in categories.Where(s => s.ParentId == null))
                                            {
                                                var isParentCategorySelected = Model.SelectedCategories.Any(s => s == category.Id);
                                                <ul>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@category.Id" main_category_checkbox="@category.Id" @(isParentCategorySelected ? "checked" : "") /> @category.Title
                                                        </label>

                                                        <div id="sub_categories_@category.Id" style="display: @(isParentCategorySelected ?"block":"none")">

                                                            @foreach (var subCategory in categories.Where(s => s.ParentId == category.Id))
                                                            {
                                                                var isSubCategorySelected = Model.SelectedCategories.Any(s => s == subCategory.Id);
                                                                <label>
                                                                    <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subCategory.Id" main_category_checkbox="@subCategory.Id" parent-category-id="@category.Id" @(isSubCategorySelected ? "checked" : "") /> @subCategory.Title
                                                                </label>
                                                                <div id="sub_categories_@subCategory.Id" style="display: @(isSubCategorySelected ?"block":"none")">

                                                                    @foreach (var secondSubCategory in categories.Where(s => s.ParentId == subCategory.Id))
                                                                    {
                                                                        var isSecondSubCategorySelected = Model.SelectedCategories.Any(s => s == secondSubCategory.Id);
                                                                        <label>
                                                                            <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@secondSubCategory.Id" parent-category-id="@subCategory.Id" @(isSecondSubCategorySelected ? "checked" : "") /> @secondSubCategory.Title
                                                                        </label>
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    </li>

                                                </ul>
                                                <hr />
                                            }
                                        }

                                        <hr/>
                                        <div class="row" style="margin-bottom: 25px">
                                            <label>رنگ محصول</label>
                                            <input type="text" placeholder="رنگ محصول" id="product_color_name_input">
                                        </div>

                                        <div class="row" style="margin-bottom: 25px">
                                            <label>قیمت مضاف رنگ محصول</label>
                                            <input type="number" placeholder="قیمت مضاف رنگ محصول" id="product_color_price_input">
                                        </div>

                                        <div class="row">
                                            <button class="btn btn-success" id="add_color_button">افزودن رنگ</button>

                                        </div>

                                        <br/>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>نام رنگ</th>
                                                    <th>قیمت</th>
                                                    <th>دستورات</th>
                                                </tr>
                                                </thead>
                                                <tbody id="list_of_product_colors">
                                                @if (Model.ProductColors != null && Model.ProductColors.Any())
                                                {
                                                    foreach (var color in Model.ProductColors)
                                                    {
                                                        <tr color-table-item="@color.ColorName-@color.Price">
                                                            <td> @color.ColorName </td>
                                                            <td> @color.Price </td>
                                                            <td> <a class="btn btn-danger text-white" onclick="removeProductColor('@color.ColorName-@color.Price')">حذف</a> </td>
                                                        </tr>
                                                    }
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">


                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="block-button">

                                            <button class="btn btn-danger btn-block" type="submit">ثبت نهایی</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
