@page
@using ShopCenter.Application.Utilities
@using ShopCenter.Application.Extensions
@using ShopCenter.Domain.Models.Products
@model ShopCenter.Presentation.Razor.Areas.Seller.Pages.Panel.Product.IndexModel
@{
}

<div class="row row-cols-3">
    
        
            @foreach (var product in @Model.Filter.Products)
            {

                <div class="col-4 card">
                    <img class="card-img-top" src=@(SD.ProductThumbnailImage + product.ImageName) alt="Card image cap">
                    <div class="card-body">
                        <div class="card-block">
                            <h5 class="card-title">@product.Title</h5>
                            <p class="card-text">وضعیت</p>
                            <p class="textalign">
                                @product.Description
                            </p>
                    <a asp-page="EditProduct" asp-route-productId="@product.Id">تغییر محصول </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        @if (product.ProductAcceptanceState == ProductAcceptanceState.Rejected)
                        {
                            
                            <div class="text-danger">
                                @Html.Raw(product.ProductAcceptOrRejectDescription)
                            </div>
                        }
                <small class="text-muted"> @product.ProductAcceptanceState.GetEnumName() / @(product.IsActive ? "فعال" : "غیرفعال")</small>
                    </div>
                </div>
            }
           

   
</div>