@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShopCenter.Application.DTOs.Contact
@using ShopCenter.Application.Extensions
@using ShopCenter.Application.Utilities

@model ShopCenter.Presentation.Razor.Areas.User.Pages.Dashboard.AnswerTicketModel
@{
    ViewData["Title"] = "گفت و گو";
}




<main class="main-row mb-2 mt-2 d-block" style="transform: none;">
    <div class="container-main" style="transform: none;">
        <div class="d-block" style="transform: none;">
            <div class="col-lg-9 col-md-8 col-xs-12 pr mt-3">
                <section class="blog-home">

                    <div class="post-comments">
                        <div class="comments-area">
                            <h2 class="comments-title">
                                <i class="fa fa-comment-o"></i>
                                گفت و گو
                                @if (Model.Ticket != null)
                                {
                                   
                                    <p class="count-comment">@Model.Ticket.TicketMessages.Count پیام</p>


                                }
                                else
                                {

                                    <p class="count-comment"> پیامی وجود ندارد</p>
                                }
                            </h2>
                            <ol class="comment-list">
                                
                                
                                @if (Model.Ticket != null)
                                {
                                    @foreach (var t in Model.Ticket.TicketMessages)
                                    {
                                        <li class="comment-even">
                                            <div class="comment-body">
                                                <header class="comment-meta">
                                                    <div class="comment-author">
                                                        <img src=@(SD.UserProfileThumb+t.User.PathProfileImage) class="avator">
                                                        @t.User.FirstName @t.User.LastName در تاریخ @t.CreateDate.ToShamsi()
                                                    </div>
                                                </header>
                                                @Html.Raw(@t.Text)
                                          
                                            </div>
                                        </li>
                                    }
                                }
                            </ol>
                            @if (Model.Ticket!= null)
                            {
                               
                            <partial name="Shared/_AnswerTicketPartial" model="@(new AnswerTicketDTO{Id = Model.Ticket.Ticket.Id})" />
                                

                            }
                            <div asp-validation-summary="ModelOnly" ></div>
                            
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</main>