@using ShopCenter.Application.Extensions
@using ShopCenter.Application.Utilities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ShopCenter.Application.DTOs.User.UserViewModel

@{
    string imagepath;
    if (@Model.PathProfileImage == null)
    {
        if (@Model.Gender == 'M')
        {
            imagepath = SD.DefaultProfileman;
        }
        else if (@Model.Gender == 'W')
        {
            imagepath = SD.DefaultProfilewoman;
        }
        else
        {
            imagepath = SD.DefaultProfileman;
        }
    }
    else
    {
        imagepath = SD.UserProfileOrigin + @Model.PathProfileImage;
    }
}


<div class="sidebar-profile sidebar-navigation">
    <section class="profile-box">
        <header class="profile-box-header-inline">
            <div class="profile-avatar user-avatar profile-img">
                <img src=@imagepath>
            </div>
        </header>
        <footer class="profile-box-content-footer">
            <span class="profile-box-nameuser">@Model.FirstName  @Model.LastName</span>
            <span class="profile-box-registery-date">عضویت در سایت @Model.CreationDate.ConvertCreationDataToPeriodDate() پیش</span>
            <span class="profile-box-phone">شماره همراه : @Model.PhoneNumber</span>
            <div class="profile-box-tabs">
                <a asp-page="/Account/LogOut" class="profile-box-tab-sign-out"><i class="mdi mdi-logout-variant"></i>خروج از حساب</a>
            </div>
        </footer>
    </section>
    <section class="profile-box">
        <ul class="profile-account-navs">
            <li class="profile-account-nav-item navigation-link-dashboard sidebar-dashboard">
                <a asp-page="Profile" class=' @( ViewData["Title"] == "پروفایل" ? "active" : "")'>
                    <i class="mdi mdi-account-outline"></i>
                    پروفایل
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="ChangePassword" class='@( ViewData["Title"] == "تغییر رمز عبور" ? "active" : "")'>
                    <i class="mdi mdi-tooltip-text-outline"></i>
                    تغییر پسورد
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="Order" class='@( ViewData["Title"] == "همه سفارش ها" ? "active" : "")'>
                    <i class="mdi mdi-cart"></i>
                    همه سفارش ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="Favorite" class='@( ViewData["Title"] == "لیست علاقه مندی" ? "active" : "")'>
                    <i class="mdi mdi-heart"></i>
                    لیست علاقه مندی
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="Address" class='@( ViewData["Title"] == "آدرس" ? "active" : "")'>
                    <i class="mdi mdi-map-outline"></i>
                    آدرس 
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="Comment" class='@( ViewData["Title"] == "نظرات" ? "active" : "")'>
                    <i class="mdi mdi-email-open-outline"></i>
                    نظرات
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="RequestSellerPanel" class='@( ViewData["Title"] == "درخواست پنل فروشندگی" ? "active" : "")'>
                    <i class="mdi mdi-email-open-outline"></i>
                    درخواست پنل فروشندگی
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-page="Tickets" class='@( ViewData["Title"] == "پشتیبانی" ? "active" : "")'>
                    <i class="mdi mdi-email-open-outline"></i>
                    پشتیبانی
                </a>
            </li>
        </ul>
    </section>
</div>

                
                    
                    
                    
                    
